body {
  font-family: Tahoma;
  background: #f2f2f2;
  text-align: center;
}

h1 {
  background: #8b0000;
  color: white;
  padding: 10px;
}

.menu button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.section {
  display: none;
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
}

footer {
  margin-top: 20px;
  color: gray;
}
